@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html {
   font-size: 62.5%; /*1 rem = 10px; 10px/16px = 62.5%*/
}

body {
  max-width: 100vw;
  min-height: 100vh;
  background-color: #ffffff;
  background-image: url("https://images.unsplash.com/photo-1457131760772-7017c6180f05?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2072&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #000;
  font-family: KoHo, sans-serif;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-container {
  width: auto;
  max-width: 900px;
  padding: 20px 30px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.quote-text {
  font-size: 3.5rem;
}

.long-quote {
  font-size: 2.5rem;
}

.fa-quote-left {
  font-size: 5rem;
}

.quote-author {
  margin-top: 1.5rem;
  font-size: 2rem;
  font-weight: 600;
  font-style: italic;
}

.btn-container {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}

button {
  font-size: 2.5rem;
  height: 4.5rem;
  border: none;
  border-radius: 1rem;
  padding: .5rem 2rem;
  color: #fff;
  background: #333;
  outline: none;
  box-shadow: 0 0.3rem rgba(121, 121, 121, 0.65);
}

button:hover {
  filter: brightness(110%);
}

button:active {
  transform: translate(0, 0.3rem);
  box-shadow: 0 0.1rem rgba(255, 255, 255, .55);
}

.twitter-btn:hover {
  color: #38a1f3;
}

.fa-twitter {
  font-size: 2.3rem;
}

/* Media Queries */

@media screen and  (max-width: 1000px) {
  .quote-container {
    margin: auto 10px;
  }

  .quote-text {
    font-size: 2.5rem;
  }
}